
/****************************************************************
Element styles for popup
****************************************************************/
a:link, a:visited {
	color: #738f44;
}
a:focus, a:hover {
	color: #d38630;
	text-decoration: underline;
}

a:hover, a.imglink:hover, .imglink:hover, .hoverable {
	cursor: pointer;
}

body, html {
	background-color: #edeedc;
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
}

/****************************************************************
Form Styles
****************************************************************/

#widgetform input[type="radio"]:hover,
#widgetform input[type="checkbox"]:hover,
#widgetform input[type="button"]:hover,
#widgetform input[type="submit"]:hover,
#widgetform select:hover {
	cursor: pointer;
}       

#widgetform input[type="text"]:focus,
#widgetform input[type="text"]:hover,
#widgetform input[type="password"]:focus,
#widgetform input[type="password"]:hover,
#widgetform textarea:focus,
#widgetform textarea:hover {
	background: #ffd;
}

#widgetform input[type="submit"],
#widgetform input[type="button"] {
	background-color: #e0e0e0;
	font-size: 12px !important;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
}

#widgetform input[type="submit"]:focus,
#widgetform input[type="submit"]:hover,
#widgetform input[type="button"]:focus,
#widgetform input[type="button"]:hover {
	background-color: #EEEEEE;
}

#widgetform textarea, #widgetform input[type="text"], #widgetform input[type="password"] {
	border: 1px solid #999999;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

#widgetform select {
	font-size: 11px;
}

#widgetform textarea {
	padding: 3px;
	overflow: auto;
}

.highlightFormSection {
	margin: 0 auto;
	padding: 20px;
	background-color: #edeedc;
}

.highlightFormSection td {
	font-size: 11px;
}

.highlightFormSection h2 {
	color: #7f490a; 
	font-size: 22px;
	line-height: 120%;
	margin-bottom: 3px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

.highlightFormSection h3 {
	font-size: 14px;
	margin-bottom: 20px;
	color: #333333;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	line-height: 120%;
}

.highlightFormSection input,
.highlightFormSection textarea {
	font-size: 12px;
	padding: 3px;
}

.highlightFormSection input[type="checkbox"] {
	margin-right: 5px;
}

.highlightFormSection input[type="radio"] {
	margin-right: 5px;
}

.highlightFormSection .formSubmit input {
	font-size: 12px;
}

.highlightFormSection .formInfo {
	font-size: 11px;
	color: #333333;
}

/* END MAIN.CSS */
.highlightFormSection #widgetform input {
	width: auto;
}
#widgetform #titledesc input {
	width: 220px;
}
#widgetform .widgetinfo h3 {
	margin-bottom: 20px;
}
#widgetform #main h2 {
	margin-top: 20px;
	font-size: 14pt !important;
}
#widgetform .widgetinfo li {
	margin-bottom: 5px;
}
#widgetform {
	font-size: 10pt;
	margin-left: 5px;
	margin-bottom: 1px;
}
#widgetform p {
	margin: 0;
	padding; 0;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #5e3c01;
}

#widgetform p b {
  font-size: 1.1em;
}

#widgetform td {
	padding-right: 10px;
	/*white-space: nowrap;*/
}
#widgetform .swatch {
	width: 16px;
	height: 16px;
	border: 1px solid black;
	margin-right: 5px;
}
#widgetform textarea {
	line-height: 120%;
}
#widgetform #showtable label {
	padding-right: 5px;
}
#widgetform #showtable td {
	padding-right: 0 !important;
}
#widgetform #showtable td label {
	padding-right: 10px;
}
#widgetform #widgettable h2 {
	_width: 690px !important;
}
#widgetform #infotable,
.highlightFormSection {
	_width: 650px !important;
}
#widgetform #main {
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	width: 690px !important;
}
#widgetform textarea {
	width: 100%;
	_width: 640px !important;
}
#widgetform #instructions li {
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
}
#widgetform #instructions label {
	font-weight: bold;
}
#widgetform .infoimage {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#widgetform #spectrum:hover,
#widgetform #spectrumimg:hover {
	cursor: pointer;
}

/****************************************************************
Drupal style overrides for popup
****************************************************************/
tr.even, tr.odd {
  background-color: transparent;
  border-bottom: none;
}
